@import "~bootstrap/scss/bootstrap";

$dark-green: #003333;
$dark-gray: #333333;
$light-gray: #cccccc;
$gray: #999999;
$brown: #996633;
$light-brown: #cc9966;
$sakura-pink: #ffcccc;

body {
  background-color: #fff;
}

.header {
  background-color: $dark-green;
  color: white;

  .number {
    display: inline-block;
    width: 26px;
    height: 26px;
  }
}

.schedule-head {
  color: $gray;
}

.schedule {
  .timebox {
    background-color: $light-brown;
    color: white;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-align: center;

    &.active {
      background-color: $brown;
    }

    &.inactive {
      background-color: $light-gray;
    }
  }

  .notify-box {
    padding-top: .5rem;
    padding-bottom: .5rem;
    height: 48px;
  }
}
