@import "~bootstrap/scss/bootstrap";

$dark-green: #003333;
$dark-gray: #333333;
$light-gray: #cccccc;
$gray: #999999;
$brown: #996633;
$light-brown: #cc9966;
$sakura-pink: #ffcccc;

body {
  background-color: #fff;
}

.header {
  background-color: $dark-green;
  color: white;

  .number {
    display: inline-block;
    width: 26px;
    height: 26px;
  }
}

.schedule-head {
  color: $gray;
}

.schedule {
  %box {
    cursor: pointer;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
  }

  .timebox {
    @extend %box;
    background-color: $light-brown;
    color: white;

    &.active {
      background-color: $brown;
    }

    &.inactive {
      background-color: $light-gray;
    }
  }

  .notify-box {
    @extend %box;
    height: 48px;
  }
}
